.bodyImageMuscle{
  opacity: 1;
  position: absolute;
  top:17vh;
  bottom:0;
  z-index:10;
  //max-height:50vh;
  //height:50vh;
  width:100%;
}

.mainBody{
  position:absolute;
  top:17vh;
  //max-height:50vh;
  //height:50vh;
  width:100%;
}

