<ion-header>
  <ion-navbar color="mPrimary">
    <ion-title text-center>Routine - {{dayOfWeek}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding color="fill">

  <ion-list>
    <div ng-repeat="item in items">
      <ion-item-sliding *ngFor="let item of items"x>
        <ion-item>
          <ion-avatar item-start>
            <img style="height:auto;width:12vh;" class="img-responsive" [src]="item.image">
          </ion-avatar>
          <h2 style="color:#498bff;">{{item.name}}</h2>
          <p>{{item.sets}} sets of {{item.reps}} reps</p>
          <ion-note item-end >
            {{item.weight}} {{item.unit}}
          </ion-note>
        </ion-item>

        <ion-item-options side="left">
          <button ion-button color="mSLight" (click)="completeExercise(item)">
            <ion-icon name="checkmark"></ion-icon>
            Complete
          </button>
          <button ion-button color="mSecondary" (click)="editExercise(item)">
            <ion-icon name="create"></ion-icon>
            Edit
          </button>
          <button ion-button color="coolBlue" (click)="infoExercise(item)">
            <ion-icon name="trash"></ion-icon>
            Info
          </button>
        </ion-item-options>

        <ion-item-options (ionSwipe)="download(item)">
          <button ion-button color="mPrimary" expandable (click)="closeCard(item)">
            <ion-icon name="trash" class="expand-hide"></ion-icon>
            <div class="expand-hide">Dismiss</div>
            <ion-spinner id="archive-spinner"></ion-spinner>
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </div>
  </ion-list>




  <!--<ion-list>-->
    <!--<div ng-repeat="item in items">-->
      <!--<ion-card *ngFor="let item of items">-->
        <!--<ion-card-header style="padding-bottom:0px;" class="closeCard" text-end>-->
          <!--<ion-icon name='close' (click)="closeCard(item.pk)" color="dark"></ion-icon>-->
        <!--</ion-card-header>-->
        <!--<ion-card-content text-center>-->


          <!--<ion-card-title style="padding-top:0px;" primary>{{item.name}}</ion-card-title>-->
          <!--<img src="{{item.image}}">-->
        <!--</ion-card-content>-->

        <!--<ion-card-content align-self-center text-center>-->
          <!--<h2>{{item.sets}} sets of {{item.reps}} reps ({{item.weight}} {{item.unit}})</h2>-->
        <!--</ion-card-content>-->
        <!--<ion-grid>-->
          <!--<ion-row>-->
            <!--<ion-col>-->
              <!--<button ion-button (click)="completeClick(item.pk)" color="light" icon-start>-->
                <!--<ion-icon name='checkmark'></ion-icon>-->
                <!--Complete-->
              <!--</button>-->
            <!--</ion-col>-->
            <!--<ion-col>-->
              <!--<button (click)="modifyClick(item.pk)" ion-button color="light" icon-start>-->
                <!--<ion-icon name='create'></ion-icon>-->
                <!--Modify-->
              <!--</button>-->
            <!--</ion-col>-->
          <!--</ion-row>-->
        <!--</ion-grid>-->
      <!--</ion-card>-->
    <!--</div>-->
  <!--</ion-list>-->
</ion-content>
