<ion-header>
  <ion-nav #mycontent [root]="rootPage"></ion-nav>
  <ion-navbar color="mPrimary">

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-grid>
      <ion-row>
        <ion-col class="center-vertical">
          <ion-title align="center">Routine - {{dayOfWeek}}</ion-title>
        </ion-col>
        <ion-col>
          <button float-right ion-button strong clear class="larger-text-menu-btn" color="white">
            <ion-icon name="share"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>
<ion-menu [content]="mycontent">
  <ion-content>
    <ion-list>
      <p>some menu content, could be list items</p>
    </ion-list>
  </ion-content>
</ion-menu>


<ion-content padding color="fill">

  <ion-list>
    <div ng-repeat="item in items">
      <ion-item-sliding *ngFor="let item of items" x>
        <ion-item>
          <ion-avatar item-start>
            <img style="height:auto;width:12vh;" class="img-responsive" [src]="item.image">
          </ion-avatar>
          <h2>{{item.name}}</h2>
          <p>{{item.sets}} sets of {{item.reps}} reps</p>
          <ion-note item-end>
            {{item.weight}} {{item.unit}}
          </ion-note>
        </ion-item>

        <ion-item-options side="left">
          <button ion-button color="mSLight" (click)="completeExercise(item)">
            <ion-icon name="checkmark"></ion-icon>
            Complete
          </button>
          <button ion-button color="mSecondary" (click)="editExercise(item)">
            <ion-icon name="create"></ion-icon>
            Edit
          </button>
          <button ion-button color="coolBlue" (click)="infoExercise(item)">
            <ion-icon name="trash"></ion-icon>
            Info
          </button>
        </ion-item-options>

        <ion-item-options (ionSwipe)="closeSlide(item)">
          <button ion-button color="mPrimary" expandable (click)="closeCard(item)">
            <ion-icon name="trash" class="expand-hide"></ion-icon>
            <div class="expand-hide">Dismiss</div>
            <ion-spinner id="archive-spinner"></ion-spinner>
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </div>
  </ion-list>
</ion-content>


